.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-page-content {
  text-align: center;
}

.buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-button, .login-button {
  margin-bottom: 20px;
}