.sidebar {
    width: 300px;
    height: 100%;
    background-color: lightgray;
    border-right: 1px solid #dadce0;
    overflow-y:auto;
}

.sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #dadce0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 18px;
}

.sidebar-chats {
    padding: 20px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}