.message-bubble {
    max-width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    overflow-wrap: break-word;
}

.message-bubble p {
    margin: 0;
}

.sent {
    background-color: #dcf8c6;
    float: right;
}

.received {
    background-color: #E0E0E0;
    float: left;
}