body {
    font-family: Arial, sans-serif;
}

.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-style: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F3F4F6;
    flex-direction: column;
}

.form-box {
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 350px;
}

.input-container {
    position: relative;
}

.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color:  #000000;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signup-link {
    color:  #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}

h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #000000
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000000
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-button {
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.error-message {
    margin-bottom: 1.5rem;
    text-align: center;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}