.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #128C7E;
    padding: 10px 20px;
    color: #fff;
}

.navbar-brand {
    font-size: 1.2rem;
}

.navbar-links {
    display: flex;
}

.brand-text {
    font-weight: bold;
}

.nav-btn {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #bd1b1b;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.nav-btn-group {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #000000;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.nav-btn-profile {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #000000;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 9px;
    cursor: pointer;
}

.nav-btn-signout {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #bd1b1b;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 9px;
    cursor: pointer;
}

.nav-btn-signout:hover {
    background-color: #ff0808
}


.nav-btn:hover {
    text-decoration: underline;
}